.button {
    height: 2em;
    width: 5em;
    border-radius: 10px;
    border: none;
    background: rgb(238,174,202);
    font-size: 30px;
    color: #450556;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background: white;
}

.disabled {
    opacity: 0.5;
    background: white;
}